.burger_ingredients {
  font-family: 'Jet Brains Mono';
  color: #f2f2f3;
  max-width: 600px;

  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

.tab {
  width: 120px;
}

.content {
  flex: 1;
  max-height: calc(100vh - 250px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #8585ad transparent;
}

.content::-webkit-scrollbar {
  width: 6px;
}

.content::-webkit-scrollbar-track {
  background: transparent;
}

.content::-webkit-scrollbar-thumb {
  background: #8585ad;
  border-radius: 8px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: #6d6db0;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.categories {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
